body {
  font-family: "Poppins", sans-serif;
}

.header {
  height: 30px;
  padding-left: 10px;
}

.header-title {
  color: #333;
  font-family: "Inconsolata";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.92px;
  text-transform: uppercase;
}

.main_content {
  display: flex;
  row-gap: 100px;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 30px);
}

.title-contaneiner {
  padding-top: 100px;
}

.title-information {
  color: var(--Gray-1, #333);
  font-family: "Space Mono", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.24px;
  width: 586px;
  margin-bottom: 6px;
}

.description {
  color: var(--Gray-2, #4f4f4f);
  font-family: "Space Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.84px;
  width: 381px;
}

.button-home {
  text-decoration: none;
  background: var(--Gray-1, #333);
  color: #fff;
  width: 216px;
  height: 68px;
  flex-shrink: 0;
  font-family: "Space Mono";
  padding: 5px 10px;
}

.Scarecrow {
  width: 539.224px;
  height: 447.426px;
}

.Scarecrow img {
  width: 100%;
}

@media screen and (max-width: 769px) {
  .main_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh + 447.426px);
  }

  .Scarecrow img {
    margin-right: 0px;
  }
}
