body {
  font-family: "Poppins", sans-serif;
}

.header {
  color: #333;
  font-family: "Inconsolata";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.92px;
  text-transform: uppercase;
}

.main_content {
  display: flex;
  row-gap: 50px;
  align-items: center;
  justify-content: space-around;
  min-height: 50vh;
}

.title_information {
  color: var(--Gray-1, #333);
  font-family: "Space Mono", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.24px;
  width: 586px;
  margin-bottom: 6px;
}

.description {
  color: var(--Gray-2, #4f4f4f);
  font-family: "Space Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.84px;
  width: 381px;
}

.link_home {
  text-decoration: none;
  background: var(--Gray-1, #333);
  color: #fff;
  width: 216px;
  height: 68px;
  flex-shrink: 0;
  font-family: "Space Mono";
  padding: 5px 10px;
}

.Scarecrow {
  margin-right: 10px;
  width: 250px;
  height: 187px;
}
@media screen and (max-width: 769px) {
  .main_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Scarecrow img {
    width: 600px;
    margin-right: 0px;
  }
}
